<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <body>
    <h1>I love sharks</h1>
    <p>This is the info page: I just really love sharks, you know? Especially the whale shark, such a pretty boy.</p>
  </body>
</html>